@import "variables";

img{
  border-radius: 50%;
  width: 35px;
  margin-right: 15px
  
}

img:hover { @include transform(rotate(350deg));
}

a{
  text-decoration: none;
  color: $fontcolor;
  font-family: $mainfont;
}

.link-item{
  align-items: center;
  padding-bottom: 10px;
}