<div class="container">
  <div class="row" style="flex-direction: column;">

      <div class="link-item row" appFocus2>
        <a class="" routerLink="my-profile" [routerLinkActive]="'active'">
          <img class=""
          src="{{userData.foto}}">
          {{userData.firstName}}</a>
      </div>

      <div class="link-item row" appFocus2>
        <a class=""  routerLink="message" [routerLinkActive]="'active'" >
          <img class=""
          src="../../assets/images/messages.png">
          Message</a>
      </div>

      <div class="link-item row" appFocus2>
        <a class=""  routerLink="message" [routerLinkActive]="'active'" >
          <img class=""
          src="../../assets/images/group.png">
          Groups</a>
      </div>

      <div class="link-item row" appFocus2>
        <a class=""  routerLink="message" [routerLinkActive]="'active'" >
          <img class=""
          src="../../assets/images/video.png">
          Video</a>
      </div>

      <div class="link-item row" appFocus2>
        <a class=""  routerLink="message" [routerLinkActive]="'active'" >
          <img class=""
          src="../../assets/images/music.png">
          Music</a>
      </div>

      <div class="link-item row" appFocus2>
        <a class=""  routerLink="message" [routerLinkActive]="'active'" >
          <img class=""
          src="../../assets/images/react.png">
          Last News</a>
      </div>

      <div class="link-item row" appFocus2>
        <a class=""  routerLink="message" [routerLinkActive]="'active'" >
          <img class=""
          src="../../assets/images/vue.png">
          Events</a>
      </div>

  </div>
</div>