<div class="content-component" *ngIf="!postClick">
  <div class="post-place">
    <div class="user-item row">
      <a class="col-2" tabindex="0">
        <div class="l9j0dhe7">
          <img class="s45kfl79 " height="40" [src]="userData.foto" width="40" alt="" style="border-radius: 50%;">
        </div>
      </a>
      <div appFocus2 class="col-10 mind-user" (click)="showInputAria = !showInputAria">
        What's on your mind, {{userData.firstName}} ?
      </div>
    </div>
    <hr>



    <div class="input-img">
      <input type="file" accept="image/*,image/heif,image/heic,video/*,video/mp4,video/x-m4v,
      video/x-matroska" class="custom-file-input" id="inputGroupFile01" multiple="" style="display: none;"
        (change)="fileChange($event)">
      <label class="custom" for="inputGroupFile01">
        <div class="bp9cbjyn">
          <img class="kb5gq1qc" src="https://static.xx.fbcdn.net/rsrc.php/v3/yc/r/7v6BHTdGI6G.png" alt=""
          height="20" width="20">
          <span appFocus2 class="oi732d6d" dir="auto">Photo/Video</span>
        </div>
      </label>
      <div class="oajrlxb2" role="button" tabindex="0">
      </div>
    </div>
  </div>



  <div *ngFor="let posts of posts" class="post" [routerLink]="['/posts', posts.id]">
    <div class="container">
      <div class="row-posts row" class="align-items: baseline;">
        <!-- <div><img src="" alt=""></div> -->
        <div>{{userData.firstName}}</div>
        <div style="margin-left: 5px; font-size: 12px; ">{{ posts.postDate | date:'MM.dd.yyyy hh:mm aa ' }}</div>
      </div>
      <img src="{{posts.postFile}}" style="max-width: 100%;
        max-height: 250px; margin-top: 15px; margin-bottom: 20px;">
      <div style="margin-top: 15px; margin-bottom: 15px;">{{posts.postDescription}}</div>

      <div class="container">
        <div class="row" style="justify-content: space-between;
        align-items: baseline;">
          <button class="btn btn-outline-danger" >Like<span>{{posts.likeCount}}</span></button>
        </div>
      </div>
    </div>
  </div>
</div>





<div class="" *ngIf="showInputAria || imageSrc">
  <div class="back"></div>
  <div class="alert alert-success" role="alert">
    <div class="row alert-head">
      <h4 class="alert-heading col-10">Create Post</h4>
      <div class="btn-cncl col-2" (click)="isHideAria()">
        <img src="../../assets/images/cancel.png" alt="" appFocus1 title="Clise window">
      </div>
    </div>
    <hr>


    <form (ngSubmit)="onFormPostSubmit(formPost)" #formPost="ngForm">
      <textarea autofocus ngModel name="postDescription" class="ipt-ltr" type="text"
        placeholder="Hello World !" style="width: 100%; height: 50px;" id="" cols="30" rows="3">
      </textarea>
      <div class="inpt-img">
        <div class="btn-cncl col-2" *ngIf="imageSrc" (click)="onRemoveImg()">
          <img src="../../assets/images/cancel.png" alt="" appFocus1 title="Remove image">
        </div>
        <div class="container">
          <img name="post-file" [src]="imageSrc" style="max-height: 300px; max-width: 300px; margin: auto;" alt="">
        </div>
        
      </div>

      <hr>
      <div class="k4urcfbm">
        <input type="file" accept="image/*,image/heif,image/heic,video/*,video/mp4,video/x-m4v,
        video/x-matroska" class="custom-file-input" id="inputGroupFile01" multiple="" style="display: none;"
          (change)="fileChange($event)">
        <label class="custom" for="inputGroupFile01">
          <div appFocus2 class="bp9cbjyn">
            <img class="kb5gq1qc" src="https://static.xx.fbcdn.net/rsrc.php/v3/yc/r/7v6BHTdGI6G.png" alt="" height="20"
              width="20">
            <span>Photo/Video</span>
          </div>
        </label>
      </div>
      <button type="submit" class="btn btn-primary" style="width: 100%;">Post</button>
    </form>
  </div>

</div>



<!-- <form (ngSubmit)="onFormPostSubmit(formPost.value)" #formPost="ngForm">
  <textarea ngModel name="post" type="text"></textarea>
  <input ngModel name="postFile" type="file">
  <button type="submit" class="btn btn-primary" style="width: 100%;">Post</button>
</form> -->