/* You can add global styles to this file, and also import other style files */
$mainfont: 'Viga', sans-serif;

.body-content{
  display: flex;
}

.navbar{
  background-color: rgb(4, 185, 140);
}
app-sidebar{
  
  width: 15%;
  background-color: rgb(241, 237, 237);
  font-family: $mainfont;
  padding-left: 5%;
}

.content{
  width: 70%;
  background-color: cornflowerblue;
}

app-footer{
  background-color: cornflowerblue;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
