/* You can add global styles to this file, and also import other style files */

body{
background: url(./assets/images/background.jpg);
background-repeat: round;

}

// .navbar{
//   // background: radial-gradient(  #daff00, #78a600);
//   opacity: 80%;
// }


// .content{
//   width: 70%;
//   background-color: cornflowerblue;
// }



// html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
