<div class=" footer">
  <div class="container">
    <div class="row footer-link">
      <div class="col">
        <div class="title-footer">Need Help?</div>
        <div class="list-need-help foot-list">
          <a id="foo-item" href="">Chat with Us</a>
          <a id="foo-item" href="">Contact US</a>
          <a id="foo-item" href="">Search</a>
          <a id="foo-item" href="">Privacy</a>
        </div>
      </div>


      <div class="col">
        <div class="title-footer">More About US</div>
        <div class="list-shopping-more-about foot-list">
          <a id="foo-item" href="">Our Mission</a>
          <a id="foo-item" href="">Our Story</a>
          <a id="foo-item" href="">Our Craft</a>
          <a id="foo-item" href="">Our Artisans</a>
          <a id="foo-item" href="">Careers</a>
        </div>
      </div>

      <!-- <div class="col">
        <div class="title-footer">Wholesale</div>
        <div class="list-wholesale foot-list">
          <a id="foo-item" href="">Wholesale Inquiries</a>
        </div>
      </div> -->

      <div class="col">
        <div class="title-footer">Sweeter than Gelato</div>
        <div class="list-sweeter-gelato foot-list">
          <a id="foo-item" href="">Sign up for thr latest news and offers</a>
        </div>
        <div class="mail-set">
          <input type="email" placeholder="Enter your email">
        </div>

        <div class="social-down">
          <a href=""><img id="facebook-down" src="../../assets/images/facebook-down.svg" alt=""></a>
          <a href=""><img id="instagramm-down" src="../../assets/images/instagramm-down.svg" alt=""></a>
          <a href=""><img id="youtube-down" src="../../assets/images/youtube-down.svg" alt=""></a>
        </div>


      </div>





    </div>
  </div>
</div>
<div class="rights">Faapp © 2020 - All Rights Reserved</div>

