<div class="container" >
  <div class="back" >
    <div class="contact">
      <div class="main-info-user row">
          <div class="foto-user col-7"><img [src]="userData.foto" alt="" style="max-width: 400px; max-height: 400px;"></div>
          <div class="user-names col-5">
            <h2>{{userData.firstName}}</h2>
            <h1>{{userData.secondName}}</h1>
            <h4>{{userData.emailPhone}}</h4>
            <button class="btn btn-danger" >Change data</button>
          </div>
      </div>  
      <div class="second-info-user">
        <div class="bate-birth">
          <h6>Date of Birth:</h6>
          <h5>{{userData.monthBth}}.{{userData.dayBth}}.{{userData.yearBth}}</h5>
        </div>
        <div class="place-birth">
          <h6>Place of Birth:</h6>
          <h5>Manaco</h5>
        </div>
        <div class="alma-mater">
          <h6>alma mater:</h6>
          <h5>BDU</h5>
        </div>
        <div></div>
        <div></div>
  
      </div>
    </div>
</div>