
.navbar-brand{
  font-size: 45px;
  font-family: 'Audiowide', cursive;
  color: rgb(4, 185, 140);
  background-color: white;
  height: 65px  ;
}

img{
  height: 30px;
  width: 30px;
  border-radius: 50%;
}