@import "variables";

.navbar{
  box-shadow: 0px 0px 25px rgba(52, 52, 53, 0.15);
  border-radius: 0px;
}
.navbar-brand{
  font-size: 35px;
  font-family: Yeseva One;
  color: $fontcolor;
  padding: 0;
  height: 44px;
  margin-bottom:20px;
}

img{
  height: 30px;
  width: 30px;

  // border-radius: 50%;
}
.navbar-brand img{
  height: 50px;
  width: 50px;
}