<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand"
    routerLink="/"
    [routerLinkActive]="'active'"
    [routerLinkActiveOptions]="{exact: true}" appFocus2>FAAPP</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse"
    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    ria-expanded="false" aria-label="Toggle navigation"
    (click) = "collapsed = !collapsed">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent"
  [ngClass] = "{'show': collapsed}">
  <app-search></app-search>

    <ul class="navbar-nav mr-auto" style="align-items: baseline;">
      <ng-container *ngIf="$user | async">
      <li class="nav-item">
        <a class="nav-link profile" routerLink="my-profile"
        [routerLinkActive]="'active'" (click)="collapsed=false"><img class="img" [src]="userData.foto"
        >{{userData.firstName}}<span class="sr-only">(Current)</span></a>
      </li>

      <li class="nav-item"  *ngIf="isMobila">
        <a class="nav-link profile" routerLink="my-profile"
        [routerLinkActive]="'active'" (click)="collapsed=false"><img class="img" 
        src="../../assets/images/messages.png">
        Message<span class="sr-only">(Current)</span></a>
      </li>

      <li class="nav-item" *ngIf="isMobila">
        <a class="nav-link profile" routerLink="my-profile"
        [routerLinkActive]="'active'" (click)="collapsed=false"><img class="img" src="../../assets/images/group.png">
        Groups<span class="sr-only">(Current)</span></a>
      </li>

      <li class="nav-item" *ngIf="isMobila">
        <a class="nav-link profile" routerLink="my-profile"
        [routerLinkActive]="'active'" (click)="collapsed=false"><img class="img" src="../../assets/images/video.png">
        Video<span class="sr-only">(Current)</span></a>
      </li>

      <li class="nav-item" *ngIf="isMobila">
        <a class="nav-link profile" routerLink="my-profile"
        [routerLinkActive]="'active'" (click)="collapsed=false"><img class="img" 
        src="../../assets/images/music.png">
        Music<span class="sr-only">(Current)</span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/"
        [routerLinkActive]="'active'"
        [routerLinkActiveOptions]="{exact: true}" (click)="collapsed=false">Main</a>
      </li>
 
      

   
    </ng-container>
      <li class="nav-item" *ngIf="!($user | async)">
        <a class="nav-link" routerLink="sign-up"
        [routerLinkActive]="'active'"
        [routerLinkActiveOptions]="{exact: true}"  (click)="collapsed=false">Sign Up</a>
      </li>
      <li class="nav-item" *ngIf="!($user | async)">
        <a class="nav-link" routerLink="log-in"
        [routerLinkActive]="'active'"
        [routerLinkActiveOptions]="{exact: true}"  (click)="collapsed=false">Log In</a>
      </li>
      <li class="nav-item" *ngIf="$user | async">
        <a class="nav-link" [routerLinkActive]="'active'" routerLink="log-in"
        [routerLinkActiveOptions]="{exact: true}" (click)="collapsed=false" (click)="logOut()">Log Out</a>
      </li>
      <!-- <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        \7*<div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li> -->
    </ul>
  </div>
</nav>